*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-container{
    background: url('../assets/login_background.jpg');
    background-position: center;
    background-size: cover;
    color: black;
    /* color: white; */
    font-weight: bold;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;    
}

.login-container form {
    backdrop-filter: blur(7px);
    height: 50%;
    width: 25%;
    border-radius: 12px;
    box-shadow: 0px 0px 6px 0px rgba(64, 64, 64, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login-container form div{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-container form div label{
    padding: 3px;
}

.login-container form div input{
    padding: 3px;
    border: none;
    color: white;
    border-radius: 2px;
    padding: 6px;
}

.login-container form .check-box-frgtpw{
    flex-direction: row;
}

.login-container form .check-box-frgtpw .check-box{
    flex-direction: row;
    justify-content: flex-start;
}

.login-container form .check-box-frgtpw .frgtpw{
    flex-direction: row;
    justify-content: flex-end;
}

.login-container form .check-box-frgtpw .frgtpw a{
    text-decoration: none;
    color: black;
    /* color: white; */
}

.login-container form button{
    width: 90%;
    padding: 6px;
    border-radius: 2px;
    border: none;
    background: red;
    font-weight: bold;
    color: white;
} 



